<div class="message-wr">
  <table class="table table-hover table-borderless">
    <thead>
      <th scope="col"></th>
      <th scope="col">Name</th>
      <th scope="col">Description</th>
      <th scope="col">Type</th>
    </thead>
    <tbody>
      <% @rooms.each_with_index do |room, idx| %>
        <tr>
          <th scope="row"><%= idx + 1 %></th>
          <td><%= link_to room.name, room_messages_path(room) %></td>
          <td><%= room.desc %></td>
          <td><%= room.traced? ? 'Traced' : 'No traced' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>